@page
@model FullStackReportSystem.Pages.Reports.NewModel
@{
}

<form method="post" enctype="multipart/form-data">
      @if (Model.SuccessMessage.Length > 0)
                {
                         <div class="alert alert-success" role="alert">
	  @Model.SuccessMessage;
	</div>
                }
                      @if (Model.ErrorMessage.Length > 0)
                {
                         <div class="alert alert-success" role="alert">
	  @Model.ErrorMessage;
	</div>
                }

    <div class="row mb-3">
    <label for="Category" class="col-sm-3 col-form-label">Category</label>
    <div class="col-sm-6">
      <select class="form-control" name="Category">
          <option>Speeding</option>
          <option>Red Light</option>
      </select>
    </div>
  </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" />
        </div>
    </div>

        <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fee</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Fee" />
        </div>
    </div>

      <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Payment Status</label>
    <div class="col-sm-6">
      <select class="form-control" name="payment_status">
          <option>Not Paid</option>
      </select>
    </div>
  </div>

          <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Upload Files</label>
        <div class="col-sm-6">
        <input type="file" name="postedFiles" multiple />
        </div>
    </div>

      <div class="modal-footer">
        <a class="btn btn-outline-primary" id="cancelbtn" href="/Reports" role="button">Cancel</a>
        <button type="submit" value="upload" class="btn btn-primary">New Report</button>
    </div>
    </div>
</form>