@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Matan ASP.NET Web Application</h1>
    <p>Lets go to the Client Section <a href="/Client">Client</a>.</p>

    <div class="container-fluid">
    <button type="button" class="btn btn-primary">Clients</button>

    </div>  
</div>
